
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title> Pokemon</title>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

    .jumbotron{
    background: url("https://cdn.hipwallpaper.com/i/17/81/Z14T6L.png") no-repeat center center;
}
     h1 {
      font-family: 'Rubik Mono One', sans-serif;
     }

     .card{
      box-shadow: 3px 3px
     }
    </style>
  </head>
  
  <body>
    {% block content %}
    {% endblock content %}

  </body>
</html>
