{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Pokémon</h1>
        <p class="lead ml-2">There are <strong>{{count}}</strong> pokemon!</p>
      </div>
    </div>


    <div class="card-columns">
      {% for d in sorted_data %}
      <div class="card mb-6 text-center">
      <div class="card-body">
        <h4 class="card-title">{{d.name}}</h4>
         <form class="form" method="POST" action="{% url 'detail' %}">
                {% csrf_token %}
                <button type="submit" class="button btn btn-md btn-danger">
                  Details
                </button>
                <input type="hidden" name="name" value="{{d.name}}">
         </form>
      
      </div>
    </div>
      {% endfor %}
    </div>

{% endblock content %}